body {
  margin: 0;
  display: flex;
  background-color: #f2f3f8;
  height: 100vh;
  width: 100vw;
  font-size: 15px;
}

#app {
  border-radius: 8px;
  width: 90%;
  min-height: 90vh;
  margin: auto;
  background-color: white;
  padding: 12px 24px;
}

.ProseMirror {
  outline: none;
  white-space: pre-wrap;
}

blockquote {
  border-left: 3px solid rgba(38, 38, 38, 0.37);
  margin: 12px 0;
  padding: 0 12px;
  color: rgba(38, 38, 38, 0.6);
}

pre {
  background-color: rgba(0, 10, 32, 0.04);
  padding: 12px;
  border-radius: 8px;
}

ul,
ol {
  padding-left: 32px;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 10, 32, 0.08);
}

p > code {
  padding: 2.5px 4px;
  font-size: 14px;
  color: rgba(38, 38, 38, 0.75);
  background-color: rgba(0, 10, 32, 0.04);
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

p {
  margin: 4px 0;
}

ul {
  padding-left: 20px;
}
